// Donate page

body.donate {
	.page-header.half .page-intro .page-content {
		padding-bottom: vertical-beat(1);
	}
	.switches {
		.-left {
			padding-right: #{$gutter / 2};
		}
		.-right {
			padding-left: #{$gutter / 2};
		}
	}
	.switch-pane {
		display: none;
		&.active {
			display: block;
		}
	}
}
.donate-form {
}
