// Homepage header
.page-header.homepage {
  h1 {
    font-size: 60px;
    line-height: 1;
    color: $white;
    text-transform: uppercase;
  }
  .page-intro {
    color: $white;
  }

  @include media-md {
    margin-right: columns(1);
    .page-intro {
      padding: 170px columns(1,18) $global-padding columns(1,18);
      h1 {
        margin: 0;
        width: columns(7,16);
        min-width: 430px;
      }
      p {
        margin: 0;
      }
      .page-content {
        padding: vertical-beat(4) 0 0 columns(2,16);
        .p-intro {
          padding-right: columns(1,16);
        }
      }
    }

    // Red bar at right
    @include bar('right', $red, 18);

  }

  // @include media-xl {
  //   height: 80vh;
  //   min-height: 600px;
  //   max-height: 800px;
  // }
}


// Homepage featured posts
.home.page {
  .featured {
    background: $black;
    margin-left: columns(2);
  }

  // Shared featured post styles
  .feature {
    position: relative;
    background: $black;
    margin: 0 0 0 columns(1,18);
    >.wrap {
      padding: vertical-beat(4) columns(2,17) vertical-beat(4) columns(1,17);
    }
    // @include bar('right', $black, 16);
    .image {
      @include aspect-ratio(480, 324);
      margin: 0 $gutter 0 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
    h1 {
      color: $red;
    }
    p {
      color: $white;
    }

    // Featured Program
    &.program-post {
      background: $red;
      padding: vertical-beat(4) columns(1,18) vertical-beat(4) 0;
      margin: 0 0 0 columns(1,18);
      // @include bar('left', $black, 16);
      // @include bar('right', $red, 16);
      h1 {
        color: $white;
      }
      >.wrap {
        padding: 0 columns(1,16);
      }
    }

    // Featured Custom Link
    &.custom-link {
      .details {
        padding: 0 $gutter 0 0;
      }
      .image {
        margin: 0;
      }
    }

    // Featured Workshop
    &.workshop-post {
      >.wrap {
        padding-top: 0;
        padding-bottom: vertical-beat(1);
      }
    }
  }
}