// Programs page

// Programs get .yellow-theme applied to body from fb_init
body.theme-yellow {
  .page-header {
    .icon-notch.bottom-left {
      transform: rotate(90deg);
    }
    .icon-notch.bottom-right {
      transform: rotate(0deg);
    }
  }

  // My simplified theme-color() mixin doesn't support other body classes, just hardcoding here
  &.menu-open {
    .site-header {
      background: $yellow;
      border-color: $yellow;
    }
  }

  @include media-md {
    .site-nav {
      > ul > .menu-donate a,
      .menu-search a {
        box-shadow: inset 0px 0px 0px 2px $black;
      }
      .menu-search a svg {
        // This didn't fit with any accent or accent2 theming for theme-color(), just hardcoding here
        fill: $black;
      }
    }
  }
}

// Make sure registration info shows
.single-workshop,
.single-program {
  .intro-wrap {
    min-height: 330px;
  }
  .slider {
    margin-left: columns(2);
    background: $black;
    padding-left: columns(1,20);
  }
}
.page-titles {
  position: relative;
}

.registration {
  @extend .h3;
  .button:hover {
    color: $yellow;
  }
  .timespan {
    display: block;
  }
  a:not(.button) {
    color: $black;
    text-decoration: underline;
  }
  ul,
  .applications-due {
    margin-bottom: vertical-beat(1);
  }
  @include media-md {
    position: absolute;
    top: 400px;
    left: -#{columns(8,7)};
    width: columns(6,7);
  }
}
