// Programs page

// Youth Program pages get "theme-yellow" class applied to body at \Firebelly\Init\is_youth_program()
body.theme-yellow {
  // Base link text + link colors for Youth Programs
  &,
  a {
    color: $brown-dark;
  }
  .button:not(.slick-arrow) {
    color: $brown-dark;
    border-color: $brown-dark;
    svg {
      fill: $brown-dark;
    }
    &::before {
      background: $brown-dark;
    }
    @include media-md {
      &:hover {
        color: $yellow;
        svg {
          fill: $white;
        }
      }
    }
  }
  .slider {
    .button-prev,
    .button-next {
      @include media-md {
        &:hover {
          svg {
            fill: $brown-dark;
          }
        }
      }
    }
  }
  // Notches are rotated differently on Youth Program pages
  .page-header {
    .icon-notch.bottom-left {
      transform: rotate(90deg);
    }
    .icon-notch.bottom-right {
      transform: rotate(0deg);
    }
  }

  // My simplified version of Bryant's theme-color() mixin doesn't support add'l body classes, just hardcoding here
  &.menu-open {
    .site-header {
      background: $yellow;
      border-color: $yellow;
    }
  }

  @include media-nav {
    .site-nav {
      .menu-search a svg {
        // This particular change didn't fit with any accent or accent2 theming for theme-color(), just hardcoding here
        fill: $brown-dark;
      }
    }
  }
}

.page-titles {
  position: relative;
}

// Shared styles Programs/Workshops
.registration {
  @include theme-color('color', $white, 'accent');
  @extend .h3;
  @include media-md {
    .button:hover {
      @include theme-color('color', $red);
    }
  }
  .timespan {
    display: block;
  }
  a:not(.button) {
    @include theme-color('color', $white, 'accent');
    text-decoration: underline;
  }
  .address,
  .date {
    margin-bottom: grid(1);
  }
  .details {
    margin-bottom: grid(2);
  }
  @include media-md {
    position: absolute;
    top: 400px;
    left: -#{columns(8,7)};
    width: columns(6,7);
  }
  form {
    fieldset {
      &::before {
        display: none;
      }
      padding: grid(2) 0 0;
    }
  }
}
