// Programs page

// Youth Program pages get "theme-yellow" class applied to body at \Firebelly\Init\is_youth_program()
body.theme-yellow {
  .page-header {
    .icon-notch.bottom-left {
      transform: rotate(90deg);
    }
    .icon-notch.bottom-right {
      transform: rotate(0deg);
    }
  }

  // My simplified version of Bryant's theme-color() mixin doesn't support other body classes, just hardcoding here
  &.menu-open {
    .site-header {
      background: $yellow;
      border-color: $yellow;
    }
  }

  @include media-md {
    .site-nav {
      > ul > .menu-donate a,
      .menu-search a {
        box-shadow: inset 0px 0px 0px 2px $black;
      }
      .menu-search a svg {
        // This particular change didn't fit with any accent or accent2 theming for theme-color(), just hardcoding here
        fill: $black;
      }
    }
  }
}

.single-workshop,
.single-program {
  // Make sure registration info shows
  // .intro-wrap {
  //   min-height: 330px;
  // }
  .slider {
    background: $black;
    @include media-md {
      margin-left: columns(2);
      padding-left: columns(1,20);
    }
  }
}
.page-titles {
  position: relative;
}

.registration {
  @extend .h3;
  @include media-md {
    .button:hover {
      color: $yellow;
    }
  }
  .timespan {
    display: block;
  }
  a:not(.button) {
    color: $black;
    text-decoration: underline;
  }
  ul,
  .applications-due {
    margin-bottom: vertical-beat(1);
  }
  @include media-md {
    position: absolute;
    top: 400px;
    left: -#{columns(8,7)};
    width: columns(6,7);
  }
}
