// Search

body.search {
  @include max-screen($breakpoint-md) {
    .one-half.-left {
      padding: mobile-grid(3) mobile-grid(3) mobile-grid(5);
    }
  }

  .search-result {
    @include hr-above;
    margin: 0 mobile-grid(3);
    padding: mobile-grid(5) 0 mobile-grid(3);

    // First result flush with top and no border
    &:first-of-type {
      padding-top: 0;
      &::before {
        display: none;
      }
    }
    // Tweak header spacing
    h2 {
      margin: 0 0 8px;
      a:hover {
        color: $yellow;
      }
    }
    p.url {
      margin: 0;
      @extend %small-text;
    }

    @include media-md {
      padding: grid(4) 0 grid(2);
    }
  }
  .pagination {
    margin-top: 0;
  }

  .page-content .search-form {
    padding-top: grid(2);
    position: relative;
    .search-field {
      border-color: $black;

      &,
      &:focus,
      &.has-input {
        padding: 0 $gutter grid(2) $gutter;
      }
    }
    .go-button {
      position: absolute;
      right: 0;
      bottom: 0;
      @extend .button;
      min-width: 120px;
    }
  }
}