// Thank You pages

.page-header.thank-you {
  .page-intro {
    color: $white;
    p {
      @extend .p-intro;
    }
    a {
      @extend .font-display;
      color: $white;
    }
  }

  @include media-md {
    margin-right: columns(1);
    .page-intro {
      padding: 170px columns(1,18) $global-padding columns(11,18);
    }

    // Red bar at right
    @include bar('right', $red, 18);

    .window-sill {
      margin-left: columns(1,18);
      background: $black;
      > .color-wrap {
        min-height: grid(4);
        margin-left: columns(1,17);
        background: $red;
      }
    }
  }

}

