// Workshops

article.workshop {
  .date {
    @extend .h3;
    .timespan {
      display: block;
    }
  }
  // &.has-button .date {
  //   padding-bottom: grid(7);
  // }
}

// generic wide column
@include media-md {
  .column-wrap {
    margin: 0 0 0 columns(2);
    background: $black;
    padding-left: columns(1);
    .color-wrap {
      padding: 0 columns(2,17) 0 columns(1,17);
      background: $white;
    }
  }
}

.single-workshop {
  .registration {
    color: $white;
    .button {
      color: $white;
      border-color: $white;
      &::before {
        background: $white;
      }
      &:hover {
        color: $black;
      }
    }
  }
}

// Taxonomy page headers
.taxonomy-header {
  a span {
    text-decoration: underline;
  }
  .taxonomy-title {
    border-bottom: 1px solid $black;
  }
  .taxonomy-clear {
    position: relative;
    h3 {
      line-height: 2;
    }
    .icon {
      position: absolute;
      top: 0;
      right: 0;
      vertical-align: middle;
      width: 24px;
      height: 24px;
    }
  }

  @include media-md {
    .taxonomy-title {
      width: columns(10,14);
      border: none;
    }
    .taxonomy-clear {
      width: columns(4,14);
      h3 {
        line-height: 1.5;
      }
      .icon {
        top: 8px;
      }
    }
    @include hr-above;
    z-index: 10;
    padding: grid(2) 0 grid(.5);
  }
}

// Workshop archive/listing pages
body.tax-workshop_series,
body.post-type-archive-workshop {
  // Header is all white, no red like the rest of the -half headers
  .page-header {
    &.-half .page-intro {
      .color-wrap {
        background: $white;
      }
    }
  }

  article.feature {
    position: relative;
    .image {
      @include aspect-ratio(480, 324);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    @include media-md {
      .one-half.-left {
        padding-right: $gutter;
      }
      padding-bottom: 40px;
    }
  }

  @include max-screen($breakpoint-md) {
    // Give border + margins to lower content on mobile
    .taxonomy-header,
    article.feature,
    .article-list {
      border-left: mobile-grid(2) solid $black;
      border-right: mobile-grid(2) solid $black;
      @include theme-color('border-color', $black, 'accent3');
      padding: mobile-grid(5) mobile-grid(3);
    }
    .article-list {
      article {
        border-bottom: 1px solid $black;
        margin-bottom: mobile-grid(5);
        padding-bottom: mobile-grid(5);
      }
    }
    // Reorder image-above-text on featured workshop
    article.feature {
      .grid {
        display: flex;
        flex-direction: column;
      }
      .one-half {
        &.-left {
          order: 2;
        }
        &.-right {
          order: 1;
        }
      }
      h1 {
        margin: mobile-grid(3) 0;
      }
      padding-bottom: 0;
    }

  }

  .article-list {
    article {
      h1 a {
        color: $red;
        &:hover {
          color: $yellow;
        }
      }
      h3.series {
        position: relative;
        padding-bottom: grid(1);
        margin: 0 0 grid(2);
        @include notch(bottom, $black);
        a {
          &:hover {
            color: $red;
          }
        }
      }
      .button {
        width: 100%;
      }
    }

    // Larger displays
    @include media-md {
      padding-top: grid(4);
      margin: 0 -35px 0;
      article {
        width: 33.33333%;
        position: relative;
        .wrap {
          margin: 0 35px;
          // min-height: 200px;
          padding-bottom: grid(6);
          position: relative;
        }
        &.has-button .wrap {
          // min-height: 300px;
        }
        .button {
          position: absolute;
          bottom: grid(6);
          left: 0;
        }
        border-right: 1px solid $black;
        &:nth-child(3n) {
          border-right: none;
        }
        &:nth-child(3n+1) {
          &::before {
            content: '';
            position: absolute;
            top: -#{grid(6)};
            left: 35px;
            width: 1000em;
            height: 1px;
            padding-bottom: 1px;
            background: $black;
            border-top: grid(3) solid $white;
            border-bottom: grid(3) solid $white;
            z-index: 1;
          }
        }
      }
    }
  }
}
