# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
log/*

# Misc
.notes

# WordPress
web/wp

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Rbenv gemsets
.gems

# OSX junk
.DS_Store

# Cache
web/app/cache
web/app/wp-cache-config.php
