// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  color: $black;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background: $gray-lite;
  font-family: $font-regular;
}

.container {
  margin-top: 84px;
}

.main {}

// Default link styles
a {
  color: $brand-primary;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

figure,
img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
