// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  color: $black;
  font-size: 12px;
  line-height: 1.5;
  overflow-x: hidden;
  background: $gray-lite;
  font-family: $font-regular;

  @include media-md {
    font-size: 16px;
  }
}

.main {}

// Default link styles
a {
  color: $brand-primary;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

figure,
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}

address {
  font-style: normal;
}

.alert {
  background: $black;
  color: $white;
  text-align: center;
  z-index: 1000;
  padding: mobile-grid(3);
  p {
    margin: 0;
  }
  a {
    color: $white;
    text-decoration: underline;
  }

  @include media-md {
    padding: grid(3);
    margin-left: columns(2);
  }
}

// Front end edit links
.edit-link {
  display: none;
}
@include media-md {
  .edit-link {
    position: absolute;
    top: 10px;
    right: $gutter;
    background: $red;
    color: $white;
    padding: 4px 8px;
    z-index: 10;
  }
  article:hover .edit-link {
    display: block;
  }
}