// Typography

@import url('https://fonts.googleapis.com/css?family=Anton|Rubik+Mono+One|Rubik:400,400i');

// https://fonts.google.com/?selection.family=Anton|Rubik+Mono+One|Rubik:400,400i&query=rubik
// font-family: 'Rubik', sans-serif;
// font-family: 'Anton', sans-serif;
// font-family: 'Rubik Mono One', sans-serif;

$font-display: 'Rubik Mono One', sans-serif;
$font-header: 'Anton', sans-serif;
$font-regular: 'Rubik', sans-serif;

.font-display {
  font-weight: normal;
  font-family: $font-display;
  text-transform: uppercase;
  @extend %smooth;
}
.font-regular {
  font-weight: normal;
  font-family: $font-regular;
}
.font-header {
  font-weight: normal;
  font-family: $font-header;
  @extend %smooth;
}

h1,
.h1 {
  @extend .font-header;
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 vertical-beat(2);
}

h2,
.h2 {
  @extend .font-header;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

h3,
.h3,
h4,
.h4 {
  @extend .font-display;
  font-size: 12px;
  line-height: 1.5;
}

figcaption,
p {
  @extend %smooth;
  letter-spacing: .06875em;
}

.p-intro,
p.p-intro {
  @extend %smooth;
  @extend .font-regular;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

%small-text {
  font: 12px/1.5 $font-regular;
  letter-spacing: .06875em;
  @extend %smooth;
}