// Colors
$black: #323228;
$black-lite: #444648;
$white: #fff;
$brown: #643C3C;
$gray-lite: #F0F0F0;
$yellow: #E1C83C;
$red: #EB2332;

// Brand Swatches
$brand-primary: $brown;
$brand-secondary: $yellow;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 975px;
$breakpoint-xl: 1200px;
$breakpoint-nav: 1250px;

// Easings
$slide-easing: cubic-bezier(0.65, 0, 0.35, 1);
