.site-footer {
  @include clearfix;
  position: relative;
  padding: mobile-grid(5);
  border-top: mobile-grid(3) solid $black;
  @include theme-color('border-color', $black, 'accent3');
  .button {
    padding: 0;
    line-height: 60px;
    height: 60px;
  }

  .icon-logo,
  .icon-logo-wordmark {
    @include theme-color('fill', $black, 'accent3');
    display: inline-block;
    vertical-align: middle;
  }
  .icon-logo {
    width: 39px;
    height: 35px;
  }
  .icon-logo-wordmark {
    width: 36px;
    height: 29px;
  }
  .brand {
    margin-bottom: mobile-grid(5);
  }

  #contact {
    &,
    .contact-notice,
    .copyright {
      margin-top: grid(2);
    }
    address,
    p {
      margin: 0;
      @extend %small-text;
    }
    .locality {
      display: block;
    }
  }

  .subscribe {
    h3 {
      margin: 0 0 grid(2);
    }
    .newsletter-form {
      position: relative;
      margin-bottom: grid(3);
      @include media-md {
        // Make room for [>] button
        .input-item svg.icon-circle-x {
          right: 50px;
        }
      }
    }
    .input-submit {
      margin-top: grid(-1);
      background: $white;
      button {
        width: 100%;
      }
      svg {
        display: none;
      }
    }
  }

  .social {
    position: relative;
    height: 100px;
    li {
      position: absolute;
      top: 0;
      &:nth-child(1) {
        left: 0;
      }
      &:nth-child(2) {
        left: 50%;
        margin-left: -30px;
      }
      &:nth-child(3) {
        right: 0;
      }
    }
  }

  @include media-md {
    padding: grid(10) 0 grid(4);
    border: none;

    // black bar above footer
    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: columns(18);
      height: grid(8);
      @include theme-color('background', $black, 'accent3');
    }

    .icon-logo {
      width: 70px;
      height: 64px;
      position: absolute;
      top: 16px;
      left: -80px;
    }
    .icon-logo-wordmark {
      width: 72px;
      height: 58px;
    }

    .wrap {
      width: columns(16);
      margin: 0 columns(2);
      position: relative;
      .brand {
        margin-top: 16px;
        float: left;
        width: columns(2);
      }
    }

    .subscribe {
      float: left;
      width: columns(9,16);
      padding-left: $gutter;
      .input-name {
        margin-left: -($gutter + 2px);
      }
      .input-item {
        margin-bottom: 0;
      }
      .input-submit {
        position: absolute;
        margin: 0;
        bottom: 0;
        right: 0;
        button {
          width: auto;
        }
        svg {
          display: inline-block;
        }
      }
    }

    .social {
      width: columns(4,16);
      position: absolute;
      right: 0;
      top: 0;
      li {
        top: 24px;
      }
    }
  }
}
.footer-flash {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  height: 270px;
  z-index: 100;
  @include theme-color('background', $black, 'accent3');
  padding: grid(4) 40px 0;
  color: $white;
  display: none;
  h3 {
    padding-right: grid(6);
  }
  .close {
    @extend .button;
    &::before {
      background: $white;
    }
    &:hover {
      svg {
        @include theme-color('fill', $black, 'accent3');
      }
    }
    position: absolute;
    top: grid(4);
    right: 40px;
    padding: grid(1);
    border: 2px solid $white;
    svg {
      width: 24px;
      height: 24px;
      fill: $white;
    }
  }
  &.active {
    display: block;
  }

  @include media-md {
    top: grid(8);
    left: columns(2);
    right: 0;
    bottom: 0;
    height: auto;
    padding: grid(4) columns(1,19);
    .close {
      right: columns(1,19);
    }
  }
}