// Headers

.page-header {
  position: relative;
  margin-left: columns(1);
  .bg-image {
    width: 100%;
    background-size: cover;
    background-position: top center;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  .icon-notch {
    display: none;
  }

  .crumb {
    @extend %smooth;
    letter-spacing: .06875em;
    font-weight: 500;
    font-size: 12px;
    a:hover {
      color: $yellow;
    }
  }

  // Wide page headers (secondary landing pages, search)
  &.-wide {
    .page-intro {
      position: relative;
      background: $black;
      .color-wrap {
        background: $white;
        padding-right: columns(1,17);
      }
      .one-half {
        padding: vertical-beat(4) columns(1,17);
        hr {
          margin-right: -#{columns(2,6)};
        }
      }
      .intro-text {
        background: $white;
      }
      .page-titles {
        background: $red;
        color: $white;
      }
    }
    // Text-only headers with no bg image (search)
    &.-text-only {
      .color-wrap {
        padding-right: 0;
      }
      .page-content {
        padding-right: columns(1,17);
      }
      .page-titles {
        width: 100%;
        padding: vertical-beat(4) columns(1,17);
      }
    }

  }

  // Half page headers (tertiary landing pages)
  &.-half {
    // .icon-notch {
    //   &.bottom-left {
    //     transform: rotate(90deg);
    //   }
    //   &.bottom-right {
    //     transform: rotate(0deg);
    //   }
    // }
    .bg-image {
      position: absolute;
      left: 0;
      top: 0;
      width: columns(10,19);
      height: 400px;
      z-index: 2;
      // display: none;
    }
    .page-titles {
      h1 {
        margin: vertical-beat(4) 0 vertical-beat(8);
      }
      .p-intro {
        margin-bottom: vertical-beat(4);
      }
    }
    .page-intro {
      position: relative;
      background: $black;
      margin-left: columns(1,19);
      padding-left: columns(1,19);
      .color-wrap {
        @include theme-color('background', $red);
        padding-left: columns(8,17);
      }
      .page-content {
        background: $white;
        padding: vertical-beat(4) columns(1,9);
      }
      .page-titles {
        // background: $white;
      }
    }
  }

  // Larger displays
  @include media-md {
    .bg-image {
      height: 600px;
    }
    &.-half {
      .page-content {
        min-height: 450px;
      }
    }
    &.-wide {
      .bg-image {
        height: 400px;
      }
      .page-intro {
        padding-left: columns(1,19);
        margin-left: columns(1,19);
      }

      // Breadcrumb nav
      .crumb {
        color: $white;
        a {
          color: $white;
          &:hover {
            color: $yellow;
          }
        }
        &:not(.-text-only) .crumb {
          position: absolute;
          bottom: vertical-beat(4);
          left: columns(3,19);
        }
      }
      &.-text-only {
        .crumb {
          margin-bottom: vertical-beat(7);
        }
      }
    }

    // Notches at bottom left and right
    .icon-notch {
      width: 42px;
      height: 42px;
      fill: $black;
      position: absolute;
      bottom: -42px;
      z-index: 1;
      display: block;
      &.bottom-left {
        left: -42px;
        transform: rotate(270deg);
      }
      &.bottom-right {
        right: -42px;
        transform: rotate(180deg);
      }
    }
  }
}
