// Header

.site-header {
  top: 0;
  left: 0;
  // z-index: 10;
  width: 100%;
  position: absolute;
  transition: height .2s ease-out;

  @include media-md {
    top: 0;
    width: 100%;
    position: absolute;

    &.sub-menu-active {}

    // Sticky
    &.-sticky {
      position: fixed;
      animation: slideDown .2s;
    }
  }

  @include min-screen($breakpoint-nav) {
    &.-sticky {
      height: auto;
      background: none;
      padding: #{$vertical-beat * 5} 0 0;

      .site-nav {
        margin-top: 0;
        padding-top: 0;
        &::before {
          display: none;
        }
      }
    }

    &.sub-menu-active {
      .menu-item:not(.hover) {
        > a {
        }
      }

      .sub-menu .menu-item.un-hover {
        a {
        }
      }
    }
  }
}

// Basic page header
.page-header {
  padding-top: 200px;
  background-size: cover;
  background-position: top center;
  padding-bottom: $global-padding;
  position: relative;

  .wrap {
    padding: 0 $global-padding;
  }

  h1 {
    color: $white;
    line-height: 1;
    font-size: 32px;
  }

  @include media-md {
    height: 600px;
    padding-bottom: 155px;
    border-bottom: #{$global-padding / 2} solid $black;

    .wrap {
      // z-index: 1;
      height: 100%;
      display: flex;
      position: relative;
      align-items: flex-end;
      padding: 0 $global-padding 0 130px;
    }

    h1 {
      margin: 0;
      max-width: 50%;
      font-size: 60px;
    }
  }
  // @include media-xl {
  //   height: 80vh;
  //   min-height: 600px;
  //   max-height: 800px;
  // }
}
