// Landing pages

.secondary-nav {
  margin-left: #{$column_width * 1 * 20/18};
  margin-right: -#{$column_width * 1 * 20/18};
  background: $black;
  color: $white;
  padding: #{$vertical-beat * 4} #{$column-width * 2 * 20/18};
  article {
    .image {
      @include aspect-ratio(192,180);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: #{$vertical-beat * 2};
    }
    h1 {
      color: $red;
      @extend .h2;
    }

    // Wider columns get different aspect ratio image
    &.one-third {
      .image {
        @include aspect-ratio(264,180);
      }
    }
  }
  @include media-md {
    .wrap {
      margin: 0 -35px;
    }
    article {
      position: relative;
      padding-bottom: #{$vertical-beat * 2};
      .read-more {
        position: absolute;
        bottom: 0;
      }
      .wrap {
        margin: 0 35px;
      }
      border-right: 1px solid $white;
      &:last-of-type {
        border-right: none;
      }
    }
  }
}
