// Landing pages

.secondary-nav {
  background: $black;
  color: $white;
  padding: mobile-grid(5) mobile-grid(5) 0;
  article {
    padding-bottom: mobile-grid(5);
    &:last-of-type {
      padding-bottom: mobile-grid(3);
    }
    .image {
      @include aspect-ratio(192,180);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: mobile-grid(2);
    }
    h1 {
      color: $red;
      @extend .h2;
      margin-bottom: mobile-grid(0);
    }

    // Wider columns get different aspect ratio image
    &.one-third {
      .image {
        @include aspect-ratio(264,180);
      }
    }
  }
  h3 {
    margin: mobile-grid(5) 0;
  }

  @include media-md {
    margin-left: columns(2);
    padding: grid(4) columns(2) grid(0);
    .wrap {
      margin: 0 -35px;
    }
    h3 {
      margin: grid(4) 35px;
    }
    article {
      position: relative;
      padding-bottom: grid(2);
      .image {
        margin-bottom: grid(2);
      }
      .read-more {
        position: absolute;
        bottom: 0;
      }
      .wrap {
        margin: 0 35px;
      }
      border-right: 1px solid $white;
      &:last-of-type {
        border-right: none;
      }

      &:hover {
        a {
          color: $white;
        }
        // Attempt at hover styles, seemed weird, may bring back
        .image {
          // top: 2px;
          // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
          // transform: scale(1.02);
        }
      }
    }
  }
}
