// Landing pages

.secondary-nav {
  margin-left: columns(2);
  background: $black;
  color: $white;
  padding: vertical-beat(2) columns(2);
  article {
    .image {
      @include aspect-ratio(192,180);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: vertical-beat(2);
    }
    &:hover {
      .image {
        // top: 2px;
        // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
        // transform: scale(1.02);
      }
    }
    h1 {
      color: $red;
      @extend .h2;
    }

    // Wider columns get different aspect ratio image
    &.one-third {
      .image {
        @include aspect-ratio(264,180);
      }
    }
  }
  @include media-md {
    .wrap {
      margin: 0 -35px;
    }
    h3 {
      margin: vertical-beat(5) 35px;
    }
    article {
      position: relative;
      padding-bottom: vertical-beat(2);
      .read-more {
        position: absolute;
        bottom: 0;
      }
      .wrap {
        margin: 0 35px;
      }
      border-right: 1px solid $white;
      &:last-of-type {
        border-right: none;
      }
    }
  }
}
