// Secondary content areas (e.g. donate forms)
.secondary-content {
  padding: mobile-grid(3) mobile-grid(3);
  background: $white;
  border-right: mobile-grid(2) solid $black;
  border-left: mobile-grid(2) solid $black;

  @include media-md {
    border: none;
    margin-left: columns(2);
    background: $black;
    padding: 0 0 0 columns(1,20);
    .color-wrap {
      background: $red;
      padding-left: columns(8,17);
      >.wrap {
        background: $white;
        padding: 0 columns(1,9) grid(4) columns(1,9);
      }
    }
    hr {
      margin: grid(4) -#{columns(2,8)} grid(4) 0;
    }
    h3 {
      margin-bottom: grid(2);
    }
  }
}

@include media-md {
  .button-twins {
    .-left {
      padding-right: #{$gutter / 2};
    }
    .-right {
      padding-left: #{$gutter / 2};
    }
  }
}