// Article grids (people, positions, partners)

.article-grid-category {
  position: relative;
  padding: 0 0 mobile-grid(3);

  // Staff has slightly different styles
  &.staff {
    padding-bottom: 0;
    h3 {
      margin-top: 0;
    }
  }

  // White border between each category
  &::after {
    content: '';
    display: block;
    position: absolute;
    //bottom: 0;
    border-bottom: 1px solid $white;
    left: 0;
    width: 100%;
    @include media-md {
      left: 35px;
      width: 1000em;
    }
  }
  article {
    .wrap h1 {
      font: 12px/1.5 $font-display;
      letter-spacing: .06875em;
      color: $white;
      a {
        color: $white;
      }
    }
    h2 {
      a {
        color: $white;
      }
    }
    .email {
      color: $white;
      font-size: 12px;
      letter-spacing: .06875em;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: $red;
      }

      + .excerpt {
        margin-top: 18px;
      }
    }
    p {
      position: relative;
      margin-bottom: grid(1.5);
      font-size: 12px;
      // Job type, Person/Partner title
      &.title {
        padding-top: grid(.75);
        margin-top: grid(1.75);
        @include notch(top);
      }
    }
    // Extra text (from post_content) below title for position, person, job
    .user-content p {
      padding-top: 0;
      &::before {
        display: none;
      }
      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  // No white border on last category (but keep desktop $black border-top)
  &:last-of-type::after {
    border-bottom: none;
  }

  @include media-md {
    &::after {
      // blacks out hanging vertical white borders on bottom
      border-top: grid(3) solid $black;
    }
    &:not(.staff) {
      // Remove border on every fourth item
      article:nth-child(4n+0) {
        border: 0;
      }
    }
    .wrap {
      min-height: 50px;
    }
    padding-bottom: grid(0);
    &.staff {
      padding-bottom: grid(0);

      // Remove border on every third item
      article:nth-child(3n+0) {
        border: 0;
      }
    }
  }

  // Staff category styled differently than typical article-grids
  &:not(.staff) {
    article {
      padding-bottom: grid(3);
    }
  }
}
