// Article grids (people, positions, partners)

.article-grid-category {
  position: relative;
  padding: 0 0 mobile-grid(3);
  // Staff has slightly different styles
  &.staff {
    padding-bottom: 0;
  }

  // White border between each category
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border-top: 1px solid $white;
    left: 0;
    width: 100%;
    @include media-md {
      left: 35px;
      width: 1000em;
    }
  }
  // No border on last category
  &:last-of-type::after {
    display: none;
  }

  @include media-md {
    padding-bottom: 0;
    &.staff {
      padding-bottom: vertical-beat(4);
    }
  }

  // Staff category styled differently than typical article-grids
  &:not(.staff) {
    article {
      padding-bottom: 0;
      margin-bottom: vertical-beat(3);
      h1 {
        font: 12px/1.5 $font-display;
        letter-spacing: .06875em;
        color: $white;
      }
    }
    // Job type, Person/Partner title
    p {
      position: relative;
      @include notch(top);
      padding-top: vertical-beat(1);
      margin-bottom: vertical-beat(1);
      font-size: 12px;
    }
    // Extra text (from post_content) below title for position, person, job
    .user-content p {
      padding-top: 0;
      &::before {
        display: none;
      }
    }
  }
}
