.button {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.4;
  padding: 0 grid(1);
  position: relative;
  background: none;
  border: none;
  border-radius: 0;
  align-items: center;
  border: 2px solid $black;
  min-height: 60px;
  min-width: 60px;
  @extend .font-display;
  z-index: 1;
  svg {
    vertical-align: middle;
    transition: fill .1s steps(2), margin .1s steps(2);
    width: 24px;
    height: 24px;
    fill: $black;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    z-index: -1;
    transform: scaleX(0);
    transition: transform .1s steps(2);
  }

  // Convoluted separation of shared .active & :hover state styles to avoid mobile hover double-click issues
  &.active {
    color: $white;
    &::before {
      transform: scaleX(1);
    }
    svg {
      fill: $white;
    }
  }
  @include media-md {
    &:hover {
      color: $white;
      text-decoration: none;
      &::before {
        transform: scaleX(1);
      }
      svg {
        fill: $white;
      }
    }
  }
  &.-wide {
    width: 100%;
  }

  // White buttons
  &.-white {
    border: 2px solid $white;
    color: $white;
    &::before {
      background: $white;
    }

    &.active {
      color: $black;
      svg {
        fill: $black;
      }
    }
    @include media-md {
      &:hover {
        color: $black;
        svg {
          fill: $black;
        }
      }
    }
  }

  // Red buttons
  &.-red {
    border: 2px solid $red;
    color: $red;
    &::before {
      background: $red;
    }

    &.active {
      color: $white;
      svg {
        fill: $black;
      }
    }
    @include media-md {
      &:hover {
        color: $white;
        svg {
          fill: $black;
        }
      }
    }
  }
}

input.button,
button.button {
  border-radius: 0;
}

// Flexbox supported, vertically center buttons
.no-flexbox .button {
  display: inline-block;
  padding: 20px grid(1) 0;
}
