form {
	label:not(.control) {
		padding: 0 $gutter vertical-beat(1) $gutter;
	}
	fieldset {
		margin: 0;
		padding: vertical-beat(4) 0;
		border: none;
		position: relative;
		@include hr();
	}
	input[type=text],
	input[type=email] {
		padding: 0 $gutter vertical-beat(1) $gutter;
		outline: none;
		display: block;
		width: 100%;
		background: none;
		border: none;
		border-left: 2px solid $yellow;
		border-bottom: 2px solid $yellow;
		padding: vertical-beat(.75) $gutter vertical-beat(1) $gutter;
		&:focus,
		&:valid {
			padding: vertical-beat(.25) $gutter vertical-beat(1.5) $gutter;
			+ label {
				top: -16px;
			}
		}
	}
	.input-item {
		position: relative;
		margin-bottom: 28px;
		&.select {
			display: block;
			width: 100%;
		}
	}
	label:not(.control) {
		transition: all .1s steps(2);
		@extend .font-display;
		margin: 0;
		padding-bottom: 4px;
		line-height: 1;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		color: $yellow;
		border-left: 2px solid $yellow;
	}
	// Subheads
	h3 .note {
		display: block;
		text-transform: none;
		letter-spacing: .06875em;
		font: 12px/1.5 $font-regular;
		margin: 5px 0 vertical-beat(3);
	}
}

// Search form
.search-form {}
.search-form label {}
.search-form .search-field {}
.search-form .search-submit {}

// wtf-forms
//**********

// Checkboxes and radios
.control {
  position: relative;
  display: block;
  padding-left: grid(5);
  cursor: pointer;
  margin-bottom: vertical-beat(2);
  min-height: 36px;
  font: 12px/1.5 $font-display;
  .description {
  	display: block;
  	font: 12px/1.5 $font-regular;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1; /* Put the input behind the label so it doesn't overlay text */
  }
}

.control-indicator {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 36px;
  height: 36px;
  background-color: $white;
  border: 2px solid $black;
  background-position: center center;
  background-repeat: no-repeat;
  user-select: none;
}

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.control:hover .control-indicator {
  color: #fff;
  background-color: #ccc;
}
*/

/* Focus */
// .control input:focus ~ .control-indicator {
//   box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem $yellow;
// }

/* Checked state */
.control input:checked ~ .control-indicator {
  color: #fff;
  background-color: $white;
}

/* Active */
.control input:active ~ .control-indicator {
  color: #fff;
  background-color: $gray-lite;
}

/* Checkbox modifiers */
.checkbox input:checked ~ .control-indicator {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij48cGF0aCBmaWxsPSIjMzIzMjI4IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDBoMTh2MThIMHoiLz48L3N2Zz4=);
}

/* Radio modifiers */
.radio .control-indicator {
  border-radius: 50%;
}
.radio input:checked ~ .control-indicator {
  // background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij48cGF0aCBmaWxsPSIjMzIzMjI4IiBkPSJNOSAwQzMuOSAwIDAgMy45IDAgOXMzLjkgOSA5IDkgOS0zLjkgOS05LTMuOS05LTktOXoiLz48L3N2Zz4=);
}

/*
 * Select
 */

.select {
  position: relative;
  display: inline-block;
  color: $black;
}
.select select {
  display: block;
  width: 100%;
  margin: 0;
  // padding: vertical-beat(1) $gutter;
  padding: vertical-beat(.25) $gutter vertical-beat(1.5) $gutter;
  line-height: 1;
  color: $black;
  background: none;
  border: none;
  border-radius: 0;
  border-left: 2px solid $yellow;
  border-bottom: 2px solid $yellow;
  cursor: pointer;
  outline: 0;
  appearance: none;
  + label {
  	top: -16px;
  }
}
/* Undo the Firefox inner focus ring */
.select select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* Dropdown arrow */
.select .arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: grid(5);
  height: grid(5);
  pointer-events: none;
  border: 2px solid $yellow;
  svg {
  	position: absolute;
  	top: 16px;
  	left: 17px;
  	width: 24px;
  	height: 24px;
	  fill: $yellow;
	  transform: rotate(90deg);
  }
}

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.select select:hover {
  background-color: #ddd;
}
*/

/* Focus */
.select select:focus {
  // box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem $black;
}

/* Active/open */
.select select:active {
  // color: #fff;
  // background-color: $black;
}

/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
  display: none;
}

/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
  .select select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem;
  }

  /* <option> elements inherit styles from <select>, so reset them. */
  .select option {
    background-color: #fff;
  }
}

/* IE9 hack to hide the arrow */
@media screen and (min-width:0\0) {
  .select select {
    z-index: 1;
    padding: .5rem 1.5rem .5rem 1rem;
  }
  .select:after {
    z-index: 5;
  }
  .select:before {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: 1.5rem;
    background-color: #eee;
  }
  .select select:hover,
  .select select:focus,
  .select select:active {
    color: #555;
    background-color: #eee;
  }
}
