// Primary nav

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .brand {
    margin-top: 9px;
    font-size: 24px;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 32px;
    left: calc(#{columns(1)} - 52px);
    z-index: 10;
    svg {
      @include theme-color('fill', $red);
      width: 139px;
      height: 139px;
    }
  }
}

// WP admin bar push
.admin-bar {
  .site-header {
    top: 32px;
  }
}

.site-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  color: $white;
  height: 85px;
  font: 500 12px/1.5 $font-display;
  letter-spacing: .06875em;
  @extend %smooth;
  box-shadow: 0 2px 12px 0 rgba(#000, .5);

  .logo-wordmark {
    position: absolute;
    top: 0;
    left: columns(1,17);
    svg {
      @include theme-color('fill', $white, 'accent');
      width: 106px;
      height: 85px;
    }
    z-index: 10;
  }

  a {
    @include theme-color('color', $black, 'accent');
    display: block;
    text-decoration: none;
    padding: vertical-beat(3) 0;
    line-height: 24px;
  }
  .brand a,
  .logo-wordmark a {
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  & > ul > li {
    position: relative;
  }

  .sub-menu {
    color: $black;
    max-height: 0;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(#000, .5);
    li {
      // Stagger display of submenu items
      transition: height 0s steps(1);
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        transition-delay: 0.2s;
      }
      &:nth-child(4) {
        transition-delay: 0.3s;
      }
      &:nth-child(5) {
        transition-delay: 0.4s;
      }
      height: 0;
      overflow: hidden;
    }
    a {
      display: block;
      padding: 30px 0;
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // Give a hard edge to faux dropshadow
        border-top: 1px solid rgba(#000, .25);
        // Faux dropshadow
        background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
        height: 6px;
      }
    }
    li:first-of-type a {
      &::after {
        height: 12px;
        // Faux dropshadow
        background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
      }
    }
  }
  .menu-item-has-children:hover {
    @include min-screen($breakpoint-nav) {
      .sub-menu {
        li {
          height: 80px;
        }
      }
    }
  }

  @include min-screen($breakpoint-nav) {
    width: columns(17);
    left: auto;
    float: right;
    @include theme-color('background', $red);
    padding: 0;
    position: relative;

    // Black bar at left of nav
    @include bar('left', $black, 17);

    a {
      padding: vertical-beat(2) 16px;
      color: $white;
      display: inline-block;
      &:hover {
        @include theme-color('color', $yellow, 'accent2');
      }
    }

    // Search and donate have 2px border
    .menu-search a,
    > ul > .menu-donate a {
      margin-left: $gutter;
      padding: 7px 30px 5px;
      box-shadow: inset 0px 0px 0px 2px $white;
    }
    .menu-search a {
      text-indent: -9999px;
      position: relative;
      width: 36px;
      padding-left: 0;
      padding-right: 0;
      &:hover {
        svg {
          @include theme-color('fill', $yellow, 'accent2');
        }
      }
      svg {
        display: block;
        position: absolute;
        top: 12px;
        left: 12px;
        width: 12px;
        height: 12px;
        fill: $white;
      }
    }

    .nav {
      padding-left: 0;
      float: right;
      // margin-right: #{$column-width * 20/17};
      margin-right: $gutter;
      @include clearfix;
      > li {
        float: left;
        line-height: 85px;
        &:hover {
          color: $black;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
    }

    // Default state of drop-down menu
    .sub-menu {
      width: 350px;
      position: absolute;
      height: 0;
      top: -1000px;
      left: 50%;
      margin-left: -175px;
      max-height: none;
      overflow: visible;
      box-shadow: 0 2px 4px 0 rgba(#000, .5);
      &::before {
        top: 10px;
      }
      li {
        width: 350px;
      }
    }

    // Dropdown menus
    .menu-item-has-children:hover {
      .sub-menu {
        top: 85px;
        height: auto;
        // Chop off dropshadow on top with pseudo element
        &::before {
          content: '';
          position: absolute;
          top: -10px;
          left: -10px;
          width: 370px;
          height: 10px;
          @include theme-color('background', $red);
          pointer-events: none;
        }
        li {
          @include theme-color('background', $red);
          text-align: center;
        }
      }
    }

  }
}

// mobile menu toggle
.menu-toggle {
  top: 0;
  right: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  border: none;
  position: fixed;
  background: $black;

  // States
  &:focus {
    outline: none;
  }

  // Open
  &.menu-open {
  }

  @include media-md {
    right: 0;
  }

  @include min-screen($breakpoint-nav) {
    top: auto;
    display: none;
  }
}

// Search form in nav
.nav-search {
  display: none;
  float: right;
  margin-right: $gutter;
  width: columns(8);
  padding-top: 24px;
  form input[type=text] {
    @include theme-color('border-color', $white, 'accent');
    width: columns(5,8);
    float: left;
    &:valid {
      // Match button sizes
      max-height: 36px;
    }
  }
  .go-button {
    width: columns(2,8);
    float: left;
    height: 36px;
    line-height: 30px;
    background: none;
    border: none;
    border: 2px solid $white;
    @include theme-color('border-color', $white, 'accent');
    @include theme-color('color', $white, 'accent');
    &:hover {
      @include theme-color('color', $yellow, 'accent2');
    }
  }
  .search-close {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    padding: 0;
    border: 2px solid $white;
    @include theme-color('border-color', $white, 'accent');
    @include theme-color('color', $white, 'accent');
    text-align: center;
    position: relative;
    svg {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 12px;
      height: 12px;
      @include theme-color('fill', $white, 'accent');
    }
    &:hover svg {
      @include theme-color('fill', $yellow, 'accent2');
    }
  }
}

.site-header.search-active {
  #menu-main-nav {
    display: none;
  }
  .nav-search {
    display: block;
  }
}