// Nav

// WP admin bar push
.admin-bar {
  .site-header {
    top: 32px;
  }
}

.site-nav {
  top: 0;
  left: 100%;
  z-index: 10;
  width: 100%;
  color: $white;
  height: 85px;
  position: fixed;
  @extend .font-display;
  font-size: 12px;
  @extend .smooth;
  transition: left .3s $slide-easing;
  padding: #{$vertical-beat * 6} $global-padding #{$vertical-beat * 14};

  .logo-wordmark {
    position: absolute;
    top: 0;
    left: #{$column-width * 2 * 20/18};
    svg {
      fill: $white;
      width: 104px;
      height: 84px;
    }
  }

  &::after {
    bottom: -10px;
    height: 10px;
    width: 100%;
    content: '';
    position: absolute;
    border-top: 1px solid rgba(#000, .3);
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  }

  &.-active {
    left: 0;
  }

  .brand {
    margin-top: 9px;
    font-size: 24px;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 32px;
    left: -124px;
    svg {
      fill: $red;
      width: 139px;
      height: 139px;
    }
  }

  a {
    color: $black;
    display: block;
    text-decoration: none;
    transition: color .2 ease-out;
    padding: #{$vertical-beat * 3} 0;
  }
  .brand a,
  .logo-wordmark a {
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }

  & > ul > li {
    position: relative;
    &.hover {
      a {
        // color: $black;
      }
    }
  }

  .sub-menu {
    color: $black;
    max-height: 0;
    overflow: hidden;
    li {
      transition: height .3s ease-out;
      height: 0;
      overflow: hidden;
    }
    a {
      display: block;
      padding: 35px 0;
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // box-shadow: 0 2px 4px 0 rgba(#000,.5);
        border-top: 1px solid rgba(#000, .25);
        background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
        height: 6px;
      }
    }
    li:first-of-type a {
      &::after {
        display: none;
      }
    }

    // &.-toggled {
    //   @include max-screen($breakpoint-nav) {
    //     max-height: 200px;
    //   }
    // }
  }
  .menu-item-has-children:hover {
    @include min-screen($breakpoint-nav) {
      .sub-menu {
        li {
          height: 80px;
        }
        // max-height: 200px;
      }
    }
  }

  // Toggles for sub-menus on mobile
  .sub-menu-toggle {
    top: 0;
    height: 47px;
    border: none;
    cursor: pointer;
    background: none;
    position: absolute;
    text-align: center;
    right: -$global-padding;
    width: #{$global-padding};
    &:focus {
      outline: none;
    }
    // &::before {
    //   content: '▼';
    //   color: $black;
    //   margin-left: -12px;
    // }
    @include min-screen($breakpoint-nav) {
      display: none;
    }
  }

  @include media-md {
    .nav {
      padding-left: 50%;
    }
  }

  @include min-screen($breakpoint-nav) {
    width: #{$column-width * 18};
    left: auto;
    float: right;
    background: $red;
    padding: 30px 0 0;
    position: relative;

    // Black bar at left of nav
    &::before {
      top: 0;
      left: 0;
      width: #{$column-width * 20/18};
      background: $black;
      content: '';
      position: absolute;
      display: block;
      height: 100%;
    }

    a {
      padding: #{$vertical-beat * 1} 16px;
      color: $white;
      display: inline-block;
      &:hover {
        color: $yellow;
        // border-bottom: 1px solid $white;
      }
    }

    .menu-search a {
      margin-left: 16px;
      box-shadow: inset 0px 0px 0px 2px $white;
    }

    // & > ul > li {
    //   &::before,
    //   &::after {
    //     display: none;
    //   }
    // }

    .nav {
      padding-left: 0;
      float: right;
      margin-right: #{$column-width * 20/18};
      @include clearfix;
      > li {
        float: left;
        // padding-right: 20px;
        &:hover {
          color: $black;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
    }

    .sub-menu {
      width: 0;
      height: 0;
      opacity: 0;
      top: -1000px;
      left: 50%;
      margin-left: -175px;
      max-height: none;
      overflow: visible;
      position: relative;
      transition: all .2s ease-out;
      &::before {
        top: 10px;
      }
      li {
        width: 350px;
        &:first-of-type {
          margin-top: #{$vertical-beat * 2};
        }
        &:last-of-type {
          // margin-bottom: #{$vertical-beat * 6};
        }
      }
    }

    .menu-item-has-children:hover {
      .sub-menu {
        top: auto;
        opacity: 1;
        height: auto;
        transition-delay: .1s;
        li {
          background: $red;
          text-align: center;
          // min-width: 345px;
        }
        a {
          // color: $black;
        }
      }
    }

  }
}

// mobile menu toggle
.menu-toggle {
  top: 0;
  right: 0;
  padding: 0;
  z-index: 20;
  width: 35px;
  height: 35px;
  border: none;
  position: fixed;
  background: $black;
  .lines {
    display: block;
    top: 48%;
    left: 10px;
    width: 16px;
    height: 2px;
    position: absolute;
    background: $white;
    &::before,
    &::after {
      left: 0;
      height: 2px;
      width: 100%;
      content: '';
      background: $white;
      position: absolute;
      transition: all .2s ease-out;
    }
    &::before {
      top: -6px;
    }
    &::after {
      bottom: -6px;
    }
  }

  // States
  &:focus {
    outline: none;
  }

  // Open
  &.menu-open {

    .lines {
      background: rgba($white, 0);
      &::before {
        top: 0;
        transform: rotate(-45deg);
      }
      &::after {
        top: 0;
        transform: rotate(45deg);
      }
    }

    .icon path {
      stroke-dashoffset: 0;
    }
  }

  .icon {
    top: 3px;
    left: 3px;
    z-index: -1;
    width: 29px;
    height: 29px;
    stroke: $white;
    stroke-width: 3px;
    position: absolute;
    path {
      stroke-dashoffset: 150%;
      stroke-dasharray: 150%, 150%;
      transition: stroke-dashoffset .3s $slide-easing .1s;
    }
  }

  @include media-md {
    right: 0;
  }

  @include min-screen($breakpoint-nav) {
    top: auto;
    display: none;
  }
}