// Pagination

.pagination {
  @extend .font-display;
  @include hr-above;
  margin-top: vertical-beat(4);
  padding: vertical-beat(2) 0;
  li {
    display: inline-block;
    // margin-right: grid(1);
    .page-numbers:not(.prev,.next) {
      &::after {
        content: ',';
      }
      &:last-of-type::after {
        content: '';
      }
    }
    .next {
      margin-left: grid(1);
    }
    .prev {
      margin-right: grid(1);
    }
    .current {
      text-decoration: underline;
    }
  }
  @include media-md {
    ul {
      margin-left: columns(9, 14);
    }
  }
}