// Styling of content that is editable in wysiwyg

.mce-content-body,
.user-content {
  @include clearfix();

  h1,h2,h3,h4,h5,h6 {

  }

  p {
    &:first-of-type {
      margin-top: 0;
    }
  }

  a {
    text-decoration: underline;
  }

  ol,
  ul {
    padding: 0;
    li {
      ol,
      ul {

      }
    }
  }

  ul {
    padding-left: 1.25em;
    li {
      padding: grid(1) 0 grid(1.5);
      list-style: disc;
    }
  }

  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid $black;
    margin: grid(4) 0 grid(5);
    + p {
      margin-bottom: 0;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

}
