.tabs {
  .tabs-nav {
    padding: 0;
    clear: both;
    overflow: hidden;
    &::after {
      content: '';
      display: table;
      clear: both;
    }
    li {
      list-style: none;
      float: left;
      position: relative;
      top: 0;
      margin: 1px .2em 1em 0;
      font-family: Rubik, sans-serif;
      padding: 0;
      white-space: nowrap;
      display: block;
      text-decoration: none;
      font-size: 14px;
      line-height: 18px;
      cursor: pointer;
      padding: 10px 20px 10px 0px;
      &.active {
        background-color: $red;
        color: #fff;
        padding-left: 10px;
        border: 1px solid $red;
        font-weight: 600;
        text-transform: uppercase;
        cursor: default;
        @include media-xs {
          width: 100%;
        }
      }
      &:focus {
        box-shadow: none
      }
      &::before {
        content: "";
      }
    }
  }
  .tab-content {
    box-sizing: border-box;
    margin-top: -1px;
  }
}

.tabs-wrap {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -6px -12px -12px -12px;
  .tabs {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    .tab {
      display: block;
      float: left;
      cursor: pointer;
      padding: 10px;
      border-right: 1px solid #eee;
      .tab-icon {
        margin-right: 5px;
        &:hover {
          background-color: #f8f8f8;
        }
        &.active {
          background-color: #fff;
        }
      }
    }
  }
}
