# Custom redirects
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Redirect Upcoming Workshops page
RewriteRule ^workshops-trainings/upcoming-workshops/$ /workshops/ [R=301,L]

# Redirect single posts to landing pages for people/jobs/partners
RewriteRule ^person/(.*)$ /about-us/people/ [R=301,L]
RewriteRule ^jobs/(.*)$ /about-us/join-us/ [R=301,L]
RewriteRule ^partners/(.*)$ /support-us/partners-supporters/ [R=301,L]

# Redirect landing page nav child pages that don't really exist
RewriteRule ^programs/freedom-fellowship/$ /program/freedom-fellowship/ [R=301,L]
RewriteRule ^programs/freedom-project-healus/$ /program/project-healus/ [R=301,L]
RewriteRule ^programs/young-leaders-for-justice/$ /program/youth-leaders-for-justice/ [R=301,L]

# Redirect weirdo Moments of Justice workshop to faux-page at /support-us/
RewriteRule ^workshops/moments-of-justice/$ /support-us/moments-of-justice/ [R=301,L]

</IfModule>
# END Custom redirects

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress